<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Viewer</title>
</head>

<body>
    {% for task in tasks %}
    <h1>{{ task.tenant_id }} ({{ task.attribute }})</h2>
        {% for drawing_id in task.ocr_miss %}
        <h2>{{ drawing_id }}</h2>
        <img src="/input/{{ task.tenant_id }}/{{ task.attribute }}/{{ drawing_id }}.png" alt="{{ drawing_id }}"
            style="max-width: 400px; max-height: 400px; width: auto; height: auto;">
        <p>{{ task.json_data['original'] }} → {{ task.json_data['corrected'] }}</p>
        {% endfor %}
        {% endfor %}
</body>

</html>